/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

body {
    position: relative;
}

h1,
h2,
h3,
h4 {
    font-weight: 700 !important;
}

.fa,
.far,
.fas,
.fl-submenu-indicator .fl-page-nav ul.navbar-nav>li.menu-item-has-children>a:after {
    font-family: 'FontAwesome' !important;
    color: #374561;
    margin: 0 20 0 20;
}

a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #374561 !important;
    color: #ffffff !important;
    border: 1px solid #374561 !important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #374561 !important;
    border: 1px solid #374561 !important;
}

.fl-page {
    width: auto;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.fl-button-text {
    color: #fff !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #e7e7e7 !important;
    border: 1px solid #e7e7e7 !important;
    font-weight: 700;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: #e7e7e7 !important;
    border: 1px solid #e7e7e7 !important;
}

.btn-white .fl-button-text {
    color: #554E46 !important
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}
.HomePageSlider .fl-slide-text > p{
	display: none!important;
}

/* Home Main Carousel */

.fl-module-content-slider {
    max-width: 1660px;
    margin: 0 auto;
}

.home-main-carousel .fl-slide-text h3 {
    font-size: 3.4em;
    line-height: 1em;
}

.home-main-carousel .fl-slide-content {
    margin-top: 140px !important;
}


/* .prod_img a img{
		height:166px;
		width:100%;
	} */

@media(min-width:768px) {
    .home-main-carousel .fl-slide-content img {
        margin-top: -90px;
    }
}

@media (max-width: 768px) {
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 20px 0 !important;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text,
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {
        font-size: 28px !important;
        line-height: normal !important;
    }
}


/* .main-home-carousel .fl-slide-content {margin-top: 60px !important;} */

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {
    padding-top: 0 !important;
}

.home-main-carousel .fl-button {
    margin-top: 20px;
}

.zone-3 h2,
.zone-3 h3,
.zone-3 p {
    margin: 0 !important;
    padding: 0 !important;
}

.zone-3 h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.zone-3 h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
}

.zone-3 p {
    font-size: 1.8em;
    line-height: 1.5em;
    padding-top: 10px !important;
}


/* .home-main-carousel.product-categories h1 {
    font-size: 2.8em
} */

.home-main-carousel.main-home .fl-slide-content {
    margin-top: 70px !important;
}

.home-main-carousel.main-home .fl-slide-content h3 {
    margin-top: 120px !important;
}

.home-main-carousel.main-home .bx-wrapper img {
    margin: 0 auto;
}

.home-main-carousel.main-home .fl-content-slider-navigation .slider-prev {
    left: 70px !important;
}

.home-main-carousel.main-home .fl-content-slider-navigation .slider-next {
    right: 70px !important;
}

.fl-content-slider-navigation .slider-prev {
    left: 70px;
    padding: 10px;
}

.fl-content-slider-navigation .slider-next {
    right: 70px;
    padding: 10px;
}

@media(max-width:768px) {
    /* .home-main-carousel {
        margin-top:60px;
    } */
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em !important;
        font-size: 2.7em !important;
        margin-top: 50px !important;
    }
    .home-main-carousel .fl-slide-mobile-photo {
        display: none !important;
    }
    .home-main-carousel .fl-slide-content {
        background-color: transparent !important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height: 350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display: block;
        margin: auto;
    }
    .home-main-carousel .fl-content-slider-navigation {
        display: none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a {
        padding: 5px;
        display: block;
    }
    .home-main-carousel .fl-button {
        font-size: 12px !important;
    }
}


/* Carousel dots over top of slide */

@media only screen and (min-width: 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }
    .bx-wrapper .bx-controls-auto,
    .bx-wrapper .bx-pager {
        bottom: 10px !important;
    }
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a {
        background: transparent !important;
        border: 1px solid #fff;
    }
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a.active,
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:focus,
    .home-main-carousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: #fff !important;
        border: 1px solid #fff;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #666;
        text-indent: -9999px;
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 8px;
    }
}


/* Carousel 2 */

.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}

.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #999;
}


/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
}

.breadcrumbs a {
    font-size: 100% !important;
}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
    line-height: 1.8 !important;
    padding: 0 10px !important;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 25px 10px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    float: left;
}

.fl-page-nav-search form {
    background-color: #ffffff;
    border-top: 3px solid #2d2d2d;
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 1000px;
    z-index: 1000;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 700;
    color: #2d2d2d !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
    font-weight: bold;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /* margin-left: -60%;
        text-align: left; */
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: static;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 78px;
    width: 1040px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    /* .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px ) rotate( 45deg );
        -ms-transform: translateX( -5px ) rotate( 45deg );
        transform: translateX( -5px ) rotate( 45deg );
        border-color: #2d2d2d;
    } */
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 15px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #2d2d2d;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu {
        margin-top: 10px;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px !important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    /* .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:50px;
    } */
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0 !important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/*location row */

.location-row a {
    color: #808080 !important;
}

.location-top a {
    color: #2d2d2d !important;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100% !important;
    text-align: center;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .product-row.featured .fl-heading,
    .product-row.featured {
        text-align: center;
    }
    #brand_wraps .fl-row-content .fl-col-group .fl-col-small:first-of-type,
    #brand_wraps .fl-row-content .fl-col-group .fl-col-small:last-of-type {
        display: none;
    }
    #brand_wraps .fl-row-content .fl-col-group .fl-col-small {
        width: 40% !important;
        float: left;
        clear: unset;
        min-height: 180px;
    }
    #about_details .fl-col {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
    .location-row h3.fl-heading {
        text-align: center;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* IMage Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}


/* @media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
} */

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
    .product-row>div.col-md-3:nth-child(4n+1) {
        clear: none !important;
    }
}

/* @media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
} */

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto!important;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 350px;
    overflow: auto;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    /* background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: center; */
    min-height: 400px;
}

.product-swatch .img-responsive img {
    visibility: hidden;
}

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
    max-height: 126px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* Mobile Menus */

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search {
    display: none;
}

header .search_wrapper {
    display: none;
}

@media(max-width:768px) {
    .active-gallery-modal .content,
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        width: 100%;
        height: auto;
        /* max-height: 200px; */
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    .active-gallery-modal .product-box {
        padding: 30px 15px;
        margin: 0;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
    .fl-builder-content-84 {
        position: fixed;
        top: 0px;
        z-index: 30;
        height: 45px;
        overflow: hidden;
        width: 100%;
    }
    /* .fl-builder-content-84 .top-bar-1 {
        padding-top: 0px;
        text-align: center;
    }
    .fl-builder-content-84 .top-bar-1 .acc_banner_link {
        margin-top: -5px;
        margin-bottom: 5px;
    } */
    #djcustom-header {
        top: 30px !important;
    }
    #djcustom-header {
        position: fixed !important;
        background-color: white;
    }
    #djcustom-header .fl-photo {
        max-width: 180px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    #djcustom-header .fl-module-content {
        margin: 10px 0px 0px 0px;
    }
    .sc_mega_menu {
        display: none;
    }
    .sc_mega_menu::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    .sc_mega_menu a {
        font-weight: bold;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        position: fixed;
        height: 100%;
        overflow: auto;
        width: 80%;
        background-color: white;
        z-index: 100;
    }
    .sc_mega_menu button {
        display: none;
    }
    .sc_mega_menu .fl-page-nav-collapse {
        display: block;
        visibility: visible;
    }
    .sc_mega_menu ul.sub-menu {
        position: static;
        display: none !important;
    }
    .sc_mega_menu .yawp_wim_wrap a:before {
        display: none;
    }
    .sc_mega_menu .menu-item-type-yawp_wim {
        display: none !important;
    }
    .sc_mega_menu .secondary_menu {
        display: none;
        margin: 0px;
    }
    .sc_mega_menu.active .secondary_menu {
        display: block;
    }
    /*  .sc_mega_menu.active >.fl-page-nav-wrap>li {
          display:none;
      }*/
    .sc_mega_menu.active .fl-page-nav {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu {
        display: block !important;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu ul.sub-menu {
        display: none !important;
    }
    .sc_mega_menu .secondary_menu .main_link>a {
        font-weight: bold;
        background-color: #F9F9F9;
    }
    .sc_mega_menu .secondary_menu a {
        padding-left: 15px !important;
    }
    .sc_mega_menu .secondary_menu .main_link>a:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 30px;
        margin-left: 0px;
    }
    .sc_mega_menu .secondary_menu li {
        padding: 0px;
    }
    .sc_mega_menu .has_subitems>a:after {
        content: "\f105";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children>a {
        font-weight: bold;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children a:before {
        display: none;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children .sub-menu a {
        text-transform: none;
        font-size: 12px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        font-size: 30px;
        float: left;
        margin-left: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    header .search_mobile,
    header .close_search {
        float: right;
        margin-right: 20px;
    }
    header .search_wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
    }
    header .search_wrapper a {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #554e46;
        font-size: 20px;
    }
    header .close_search {
        display: none;
    }
    /* footer {
        padding: 30px 0px;
    }
    footer .fl-row-content-wrap {
        padding: 0px !important;
    } */
    /* footer .fl-col {
        margin: 0px !important;
        max-width: none !important;
        width: 100%;
    } */
    /*     
    footer li {
        margin: 0px !important;
    }
    footer a {
        margin-bottom: 0px !important;
    }
    footer .menu>li>a {
        border-bottom: 1px solid #919191;
        display: block;
    } */
    footer .menu>li.menu-item-has-children>a:after {
        content: "\f107";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
    }
    footer .fl-widget,
    footer .menu {
        margin: 0px !important;
    }
    footer .sub-menu {
        padding: 30px;
        border-bottom: 1px solid #919191;
        display: none;
    }
    footer .sub-menu li:before {
        display: none;
    }
    footer .sub-menu a {
        color: white !important;
        font-weight: normal;
    }
    footer ul li:nth-child(1) a {
        color: white !important;
    }
    /* footer .fl-module-icon .fl-icon-wrap
    footer .fl-module-heading {
        float: center;
        padding: 5px 30px;
        width: 100%;
    }
    footer .fl-module-icon .fl-icon-wrap {
        display: block;
    }
    footer .fl-icon,
    footer .fl-icon-text,
    footer .fl-icon-text p {
        display: inline;
    }
    footer .fl-icon i {
        float: none;
    }
    
    footer .fl-module-icon .fl-icon-wrap br {
        display: none;
    } */
    /* footer .fl-col {
        margin-bottom: 30px !important;
    } */
    .menu-footer-menu-container {
        overflow: hidden;
        padding: 10px 30px;
    }
    #menu-footer-menu {
        text-align: center;
    }
    #menu-footer-menu li {
        display: inline;
        float: none !important;
        border: 0px;
    }
    #menu-footer-menu a {
        border: 0px;
        display: inline !important;
        padding: 0px 10px !important;
    }
    footer .menu-footer-menu-container ul li:nth-child(1) a {
        color: #767676 !important;
    }
    footer .fl-node-58b5816f53831.fl-col-small {
        color: white;
        text-align: center;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto!important;
    }
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700 !important;
}

.footer-1-top .fl-social-icons {
    text-align: center;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
    top: 100%;
}

.fr_toggle_box.active .box_content {
    top: auto;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    /* width: 70%; */
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 20px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background: transparent;
    margin: 0;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
    margin: 0;
    max-width: 100%;
    display: inline-block;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
    background-color: #C92830;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    /* padding: 40px 0px 0px; */
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        /* display:none; */
    }
    .top-bar-1 ul li {
        padding: 0 15px 10px 15px;
    }
}

.toggle-image-thumbnails {
    position: static;
    bottom: 10px;
    left: 40px;
}

.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

#sifContainer {
    margin: 0 auto !important;
}

.fl-tabs-labels .fl-tabs-label {
    color: #737373;
}

.fl-tabs-labels .fl-tabs-label.fl-tab-active {
    color: #2d2d2d;
}

.gallery-menu .fl-menu a {
    color: #737373 !important;
}

.gallery-menu .fl-menu .current_page_item a {
    color: #2d2d2d !important;
    font-weight: bold;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    text-transform: none;
}

#menu-header {
    text-align: center;
}

#menu-header>li {
    /* text-align: left; */
}

.footer-menu .menu.fl-menu-vertical {
    list-style: none;
    padding: 0 20px;
}

.tableDesign .table-responsive {
    padding: 20px;
    overflow: visible;
}

.carousel-control.left,
.carousel-control.right {
    top: 40% !important;
}

.home-blogs .fl-post-gallery .fl-post-gallery-post .fl-post-gallery-img-vert {
    transform: translateY(-12.5%);
    -webkit-transform: translateY(-12.5%);
    -moz-transform: translateY(-12.5%);
    -o-transform: translateY(-12.5%);
    -ms-transform: translateY(-12.5%);
}

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    display: inline-block;
    vertical-align: top;
    margin: 5px 20px 20px 0 !important;
}

ul.social-icons li:last-child {
    margin-right: 0 !important;
}

ul.social-icons li a.social-icon {
    width: 24px;
    height: 24px;
    font-size: 0;
    display: block;
    background: url(images/social-icons.png) no-repeat 0 0;
}

ul.social-icons li a.social-icon.twitter {
    background-position: 0px -120px;
}

ul.social-icons li a.social-icon.instagram {
    background-position: 0px -72px;
}

ul.social-icons li a.social-icon.pinterest {
    background-position: 0px -96px;
}

ul.social-icons li a.social-icon.gplus {
    background-position: 0px -24px;
}

ul.social-icons li a.social-icon.youtube {
    background-position: 0px -144px;
}

ul.social-icons li a.social-icon.houszz {
    background-position: 0px -48px;
}

@media(max-width:992px) {
    .fl-page-nav-toggle-visible-medium-mobile .fl-page-header-wrap .fl-page-header-container {
        width: 100%;
        max-width: 1100px;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-header img {
        height: 100px
    }
    .fl-page-nav-right .fl-page-header-row {
        display: block;
    }
    .fl-page-nav-right .fl-page-header-row .fl-page-nav-col {
        display: none;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 15px 20px !important;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-header-container.container {
        padding-top: 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
}

@media(min-width:768px) {
    .fl-page-nav-toggle-visible-medium-mobile .fl-page-header-wrap .fl-page-header-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:768px) {
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    footer .menu li {
        text-align: left;
    }
    #menu-top-bar-menu {
        display: flex;
    }
    #menu-top-bar-menu>li {
        padding: 0 5px;
    }
    .fl-node-58fe80019ef69>.fl-module-content {
        margin: 10px;
    }
    footer .fl-module-heading h3.fl-heading {
        font-size: 14px !important;
    }
    /* .fl-node-58fab3e96409b {
        justify-content: center;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 100% !important;
        margin: 0 10px 20px !important
    } */
    .fl-node-5c12c481a1daa {
        margin-bottom: 0;
    }
    .fl-tabs-labels .fl-tabs-label,
    .fl-tabs-horizontal .fl-tabs-label {
        color: #737373;
    }
    .fl-tabs-labels .fl-tabs-label.fl-tab-active,
    .fl-tabs-horizontal .fl-tabs-label.fl-tab-active {
        color: #2d2d2d;
    }
    ul#menu-gallery-menu {
        display: flex;
        justify-content: center;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .plpAlignTitle {
        position: absolute;
        top: 28px;
        right: 0;
    }
    .product-grid.swatch a.fl-button {
        padding: 10px 20px;
    }
    .logoColumnWrap .fl-node-5c10976618fdc .fl-col-small .fl-col-content {
        display: flex;
        justify-content: center;
    }
    .location-row .fl-col-group {
        display: flex;
        justify-content: space-between;
    }
    .fr_toggle_box .box_content table {
        width: 90%;
    }
    .fr_toggle_box .box_content table {
        margin: 0;
    }
    .fr_toggle_box .box {
        min-height: 1px;
        border-radius: 0;
        margin: 0;
    }
    .fr_toggle_box .text {
        padding: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav ul.sub-menu li a {
        font-weight: bold;
    }
    .tableDesign .table-responsive {
        padding: 20px;
        overflow: scroll;
    }
    footer ul.social-icons {
        text-align: center;
    }
    footer .fl-module-photo .fl-photo-img {
        display: block;
        margin: 0 auto;
    }
    .cat-boxes .fl-module-callout .fl-callout {
        text-align: center;
    }
}

@media(max-width:767px) {
    .footer-menu .menu.fl-menu-vertical {
        padding: 0;
    }
    /* .fl-page-nav-toggle-visible-medium-mobile .fl-page-header-wrap .fl-page-header-container {
        padding-left: 20px;
        padding-right: 20px;
    } */
}

@media(max-width:567px) {
    #menu-header>li>a {
        font-size: 10px;
        line-height: 1.2;
        text-align: center;
    }
    .mb560 {
        width: 100%;
    }
    #menu-header {
        display: flex;
    }
    #menu-header>li {
        flex: 1;
        padding: 0;
    }
    #menu-header>li>a {
        padding: 0;
    }
    .fl-node-5c142e747b6d3>.fl-module-content {
        margin-bottom: 10px !important;
    }
    #sifContainer {
        max-width: 260px !important;
        padding: 15px !important;
        text-align: center;
    }
    .fl-tabs-labels .fl-tabs-label {
        color: #737373;
    }
    .fl-tabs-labels .fl-tabs-label.fl-tab-active {
        color: #2d2d2d;
    }
    /* detail page  */
    .toggle-image-thumbnails {
        position: static;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .product-box {
        clear: both;
        text-align: center;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .product-box a.fl-button {
        width: auto !important;
    }
    ul#menu-gallery-menu {
        flex-direction: column;
        text-align: center;
    }
    .gallery-menu .fl-menu .current_page_item {
        border-bottom: 3px solid #adadad;
        background: #f1f1f1;
    }
    .plpAlignTitle {
        position: static;
    }
    .fl-post-gallery .fl-post-gallery-post {
        margin-bottom: 20px;
    }
    .fl-node-5c192790217df>.fl-module-content {
        margin-left: 20px;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto!important;
    }
}

@media(max-width:767px) {
    .fr_toggle_box .box_content .padding {
        height: 160px;
        overflow: auto;
    }
    .fr_toggle_box .box_content .padding table {
        width: 100%;
    }
    .fr_toggle_box .box_content .padding table td {
        display: block;
        text-align: center;
    }
    .fr_toggle_box .box_content .padding table td img {
        max-height: 100px;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:480px) {
    #brand_wraps .fl-row-content .fl-col-group .fl-col-small {
        width: 40% !important;
        float: left;
        clear: unset;
        min-height: 180px;
    }
}

.review-iframe iframe {
    height: 650px !important;
}


/* Get Coupon button hide */


/* .button-wrapper-default a:first-child {
    display: none;
}
.product-grid.btn-grey a.fl-button {
    display: none;
}

.product-grid.btn-grey a.fl-button + br {
    display: none;
} */

.fl-page-nav ul.sub-menu li a {
    position: relative;
}

.responsive-button-wrapper-default>a:first-child {
    display: none;
}

.makemefull.alignleft {
    float: none;
    margin: 0;
}

@media (max-width: 1080px) {
    .fl-page-header {
        position: relative !important;
        top: 0 !important;
        width: 100%;
    }
    .active-gallery-modal .product-box {
        width: auto;
    }
}

@media (max-width: 992px) {
    .fl-page-header-primary .fl-logo-img {
        max-width: 100% !important;
    }
    .makemefull .fl-photo,
    .makemefull .fl-module-content .uabb-fl-photo {
        text-align: center;
    }
    .makemefull .fl-photo .fl-photo-content,
    .makemefull .fl-photo .fl-photo-content .fl-photo-img,
    .makemefull .fl-module-content .uabb-photo .uabb-photo-content,
    .makemefull .fl-module-content .uabb-photo .uabb-photo-content .uabb-photo-img {
        width: 100%;
    }
    #responsive-menu-container #responsive-menu-title #responsive-menu-title-image img {
        height: auto;
        max-height: 55px;
    }
}

@media (max-width:768px) {
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: inherit !important;
    }
}

@media (max-width: 767px) {
    #menu-header>li {
        display: none
    }
    #menu-header>li.menu-item-type-custom {
        display: block;
        text-align: center;
    }
    #menu-header>li .phone {
        text-align: center;
    }
    .fl-callout .fl-callout-photo .fl-photo .fl-photo-content,
    .fl-callout .fl-callout-photo .fl-photo .fl-photo-content .fl-photo-img {
        width: 100%;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    .fl-col-small {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media (max-width: 579px) {
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 3;
    }
}

@media only screen and (max-device-width: 667px) and (orientation: landscape) {
    .active-gallery-modal .col {
        width: 100% !important;
        float: left;
    }
}

@media (max-width: 399px) {
    .gform_wrapper .ginput_container.ginput_recaptcha>div {
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -o-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform-origin: left;
    }
}